* {
  padding: 0;
  margin: 0;
}

.nav {
  font-family: "Roboto", sans-serif;
  height: 83px;
  background-color: #117d95;
}

.nav-links {
  display: flex;
  padding-left: 1450px;
  padding-top: 30px;

  position: relative;
}

.nav-links a {
  text-decoration: none;
}

.nav-link {
  list-style: none;
  font-size: 18px;
  padding-left: 70px;
  color: white;
}

.logo {
  font-size: 30px;
  background-color: #f6e05e;
  width: 150px;
  height: 60px;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding-left: 55px;
  padding-top: 23px;
}

.wave {
  height: 583px;
  pointer-events: none;
}

.header {
  background-image: url("pexels-photo-188029.jpeg");
  background-position: center;
  height: 583px;
}

.title {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);

  font-size: 64px;
  position: absolute;
  top: 150px;
  z-index: 1;
  left: 50px;
}

.par {
  font-family: "Poppins", sans-serif;
  font-size: 24px;

  width: 459px;
  position: absolute;
  top: 270px;
  left: 50px;
  color: white;
}

.lm {
  position: absolute;
  width: 262px;
  height: 52px;
  border-radius: 10px;
  border: none;
  background-color: #166678;
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  top: 550px;
  left: 50px;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .nav-links {
    display: none;
  }

  .wave {
    height: 213px;
    width: 187px;
  }

  .header {
    height: 213px;
    background-size: 500px;
  }

  .logo {
    width: 90px;
    font-size: 18px;
    height: 31px;
    padding-top: 7px;
  }

  .nav {
    height: 38px;
  }

  .title {
    font-size: 18px;
    font-weight: normal;
  }

  .par {
    font-size: 9px;
  }
}

*::selection {
  background: #f6e05e;
  color: #166678;
}

.main {
  height: 3000px;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(83, 83, 83);

  border-radius: 15px;
}
